arch
cufflinks
jupyter_contrib_nbextensions
jupyterlab
matplotlib
MiniSom==2.2.9
networkx==3.0
notebook
numpy
openpyxl
optuna==3.3.0
pandas
plotly
plotnine
pyarrow
QuantStats==0.0.62
scikit-learn==1.3.2
scipy
seaborn
sqlalchemy 
tabulate
tensorboard
tensorflow
xgboost
xlrd
yfinance

